OPENAI_API_KEY=
USE_OLLAMA=true
USE_OPENAI=false
ASSISTANT_NAME=Aira
LISTEN_MODE=auto
VOSK_MODEL_PATH=models/vosk/vosk-model-small-en-us-0.15
PIPER_MODEL=tts/piper/en_US-lessac-medium.onnx
PIPER_CONFIG=tts/piper/en_US-lessac-medium.onnx.json
PIPER_EXE=tts/piper/piper.exe
OLLAMA_MODEL=qwen2.5:3b
